{% extends "start/base.html" %}
{% block title %}fling.dev: Local software development with Loophosting{% endblock %}
{% block head %}
{{ super() }}
<style>

dl, dd {
    padding-left: 1em;
}
dt {
    font-size: 1.2em;
}

</style>
<script>

const clipReady = () => {
  navigator.clipboard.writeText("curl https://fling.dev/install.sh | bash");
  document.getElementById("copyButton").value = "Copied!";
}
</script>
{% endblock %}
{% block content %}
{{ super() }}
<main >

<div class="container m-5 font-monospace">
<h1>Welcome to loophost.</h1>
<dl>
<dt>WHAT:</dt> 
<dd>Turnkey localhost management for students, freelancers, agencies and development teams of all sizes.</dd>

<dt>WHY:</dt> 
<dd>Because it's 2023, and <mark>friends don't let friends run without SSL</mark>.</dd>

<dt>HOW:</dt> 
<dd>Log in with fling auth (using your GitHub credentials), and we'll do the rest.
Specifically, we'll generate a private key (<u>that never leaves your computer</u>) and set up
DNS records and SSL certificates for *.&lt;github-username&gt;.fling.dev.<br/>

When you visit <span class="text-primary fw-bold">https://yourapp.username.fling.dev</span>, you'll be able to choose any locally
running web app (in any language, and on any port or web socket) to bind to that name.</dd>

<dt>WHAT ABOUT...</dt>
<dd>Websockets? Yep.</dd>
<dd>Running in debug mode? Absolutely. Breakpoints work just as you would expect.</dd>
<dd>How many apps can I have running? We have no idea, let's find out together.</dd>

</dl>
</div>

<div class="m-0 p-3 row" style="background-color: #ddd;">
    <label for="curlline" class="col-sm-2 col-form-label fw-bold text-white text-end">FREE INSTALL</label>
    <div class="col-sm-8">
      <input type="text" onclick="clipReady()"; readonly class="form-control input-lg" id="curlline" value="curl https://fling.dev/install.sh | bash">
    </div>
    <div class="col-sm-2">
    <input id="copyButton" type="button" onclick="clipReady();" class="form-control input-lg btn btn-success" value="Copy!"/>
    </div>
</div>

<div class="container m-5 font-monospace">
<h1>Ready to leave localhost? Time to upgrade.</h1>

<dl>
<dt>MOBILE DEV</dt> 

<dd>Building mobile apps means sharing your APIs from your laptop, to your Android, your iPhone, 
and the rest of your team. Simply flip the "sharing" toggle on
https://username.fling.dev for that app, and we'll TUNNEL traffic from the public internet
to your local machine.</dd>

<dt>SECURE SHARING:</dt> 
<dd>Not ready to share with EVERYONE in the world? Enable "secured" sharing,
and you can issue individual certificates to each of your collaborators. (No password required).
No cert? No peeking.</dd>
</dl>

</div>


<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1N7TrhAePo2sNeVeoNViKpnn"
publishable-key="pk_live_51J5dRnAePo2sNeVermTe6fkJ1YNE3Ymfu2Q9gjwrqwVLLlBpFEll53QybAINSzBRJhfSq1XVVXTwTHGYPatZ5suh00dDfUtw01">
</stripe-pricing-table>

</main>

{% endblock %}

{% block scripts %}
{{ super() }}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Another fun project from <a href="https://fling.wtf/">fling</a>.</span>
  </div>
</footer>
{% endblock %}