<pre style="font-size: 5pt;">{{logo|safe|replace('\\n','\r\n')}}</pre><br/>


        <br/>
        <h3>Configuration for "{{project}}"</h3>

        {% if project not in apps %}
        Looks like this app isn't set up yet. Ready to set it up now?<br/>
        (Hoping to configure loophost for a different app?<br/>
        Just visit https://&lt;yourapp&gt;.{{fqdn}})<br/>

        <form method="post" action="/">
        <b>OPTION A: Use a Unix Socket (fast and great!)</b><br/>
        <i>Put the path to the socket in the field below in the form "/tmp/myapp.soc"</i><br/>
        
        <b>OPTION B: Use a Network Port (supports websockets)</b><br/>
        <i>Put the address of the app in the field below in the form "127.0.0.1:8080"</i><br/>

        <input type="text" name="application_port"><br/>
        <input type="submit" name="add_application" value="Add this app"/><br/>
        </form>
        {% else %}

        This app is configured but it doesn't appear to be available.<br/>
        Most likely, this is because:<br/>
        <ul>
        <li>the local app isn't running,</li><br/>
        <li>or the path to the socket is wrong,</li><br/>
        <li>or the permissions on the socket file need to be fixed.</li></ul>
        <br/>
        Try <pre>sudo chmod 666 {{apps[project]}}</pre> and see if that helps.<br/>


        {% endif %}

        <div>
        Your local apps:<ul>
        {% for x in apps %}
        <li>
                <a href="https://{{x}}.{{fqdn}}">{{x}}</a>
                [ running at {{apps[x]}} ]
                <a href="/unbind?project={{x}}">X</a>
        </li>
        {% endfor %}
        </ul>
        </div>