<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.fling.hub</string>
    <key>ProgramArguments</key>
    <array>
        <string>uwsgi</string>
        <string>hubconfig.ini</string>
        <string>--set-ph localfqdn=joshuamckenty.fling.dev</string>
    </array>
    <key>KeepAlive</key>
    <dict>
        <key>NetworkState</key>
        <true/>
    </dict>
    <key>WorkingDirectory</key>
    <string>/etc/flingdev</string>   
    <key>UserName</key>
    <string>root</string>
</dict>
</plist>