{% extends "base.html" %}
{% block headline %}
<h1>Welcome to loophost.</h1>
{% endblock%}

{% block content %}
{{ super() }}
<main>

  <div class="container px-5 mt-2 mb-5 font-monospace">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <blockquote>It's 2023, and <mark>friends don't let friends run without SSL</mark>.</blockquote>

      <h2>Local web hosting for the 21st century</h2>
      <p>
        Similar to nginx or apache, Loophost allows you to use your laptop or desktop as a server.
        Designed for REALLY BUSY PEOPLE, it makes it really fast and easy to:
      </p>

      <ul>
        <li>Get a unique domain name for every local app you're working on
        </li>
        <li>Get a REAL WORLD SSL CERTIFICATE for each of those (for free)
        </li>
        <li>Connect to those apps over local network ports (like the 'localhost:5000' thing you've been doing)
        </li>
        <li>Connect over unix domain sockets (usually 2-3 TIMES FASTER than local network ports)</li>
      </ul>

      <p>This addresses a whole bunch of small, annoying everyday problems for developers:</p>

      <ul>
        <li>You can build and test remote content (including from APIs and other components) without "mixed content"
          problems.
        </li>
        <li>You can run multiple apps (frontend and backend, or different microservices) without trying to remember
          which one is on what port
        </li>
        <li>You can use and test CORS headers properly
        </li>
        <li>You can use and test OAuth workflows and callbacks without weird special cases for the non-SSL localhost
        </li>
        <li>You won't accidentally mix and break cookie domains because localhost and 127.0.0.1 aren't really the same
          thing</li>
      </ul>

      <img src="/static/loophost-screenshot.png" width="100%" class="text-center p-5" style="max-width: 800px;" /><br />

      <p>And then it gets better: with a single click in a web interface (or an HTTP post, if you'd rather), you can
        enable a reverse tunnel for <strong>that app only</strong>, and share that with anyone.</p>

      <ul>
        <li>The mobile or IoT app you're developing can run on the iPhone, android, iPad,
          Raspberry Pi or Arduino you've got in your house, and still talk to the API
          on your desktop
        </li>
        <li>Working in the office with a bigger team? They can use the live version of the
          frontend you're working on, talking to the live version of the backend they're working on
          - all without any commit-build-deploy loop in the way, or the cost and latency of
          shared dev servers somewhere else.</li>
      </ul>

      <p>
        We don't have time to write yaml. And we definitely don't have time to restart servers.
        Every modern web framework will <em>watch</em> our source files, and rebuild and restart when needed -
        so loophost works that way, too. This means that you can use STATEFUL connections like Websockets
        and SSE, without having those connections torn down because a completely DIFFERENT app needed
        an updated configuration.
      </p>



      Read on for <a href="/tech.html">more of the technical details</a>.
    </div>
  </div>
  </div>

  <div class="m-0 p-3 row align-items-center" style="background-color: #ddd;">
    <label for="curlline" class="col col-xs-12 col-sm-3 fw-bold text-success fs-3 text-end">FREE INSTALL</label>
    <div class="col">
      <input type="text" onclick="clipReady()" ; readonly class="form-control input-lg" id="curlline"
        value="curl https://loophost.dev/install.sh | bash">
    </div>
    <div class="col col-xs-1 col-md-2 col-lg-3">
      <input id="copyButton" type="button" onclick="clipReady();" class="form-control input-lg btn btn-success"
        value="Copy!" />
    </div>
  </div>

</main>

{% endblock %}