{% extends "base.html" %}
{% block headline %}
<h1>Time to install the latest version!</h1>
{% endblock%}

{% block content %}
{{ super() }}
<main >

<div class="container mx-5 mt-2 mb-5 font-monospace">
<dl>
<dt>HOW:</dt> 
<dd>Simply run the original install script over again.</dd>


<div class="m-0 p-3 row align-items-center" style="background-color: #ddd;">
    <label for="curlline" class="col col-xs-12 col-sm-3 fw-bold text-success fs-3 text-end">FREE UPDATE</label>
    <div class="col">
      <input type="text" onclick="clipReady()"; readonly class="form-control input-lg" id="curlline" value="curl https://loophost.dev/install.sh | bash">
    </div>
    <div class="col col-xs-1 col-md-2 col-lg-3">
    <input id="copyButton" type="button" onclick="clipReady();" class="form-control input-lg btn btn-success" value="Copy!"/>
    </div>
</div>

</main>

{% endblock %}