name: loophost-build
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
        - uses: actions/checkout@v3
        - name: Set up Python 3.9
          uses: actions/setup-python@v4
          with:
            python-version: "3.9"
            cache: 'pip'

        - name: Install dependencies
          uses: py-actions/py-dependency-install@v4
          with:
            update-pip: "true"
            path: "requirements.txt"

        - name: Additional dependencies 
          uses: py-actions/py-dependency-install@v4
          with:
              update-pip: "false"
              path: "client/requirements-${{ matrix.os }}.txt"

        - name: Build go binaries
          run: |
            inv build-go
        - uses: actions/upload-artifact@v3
          with:
            name: ${{ matrix.os }}-binaries
            path: client/loophost/bins
  publish:
    needs: build
    name: Publish wheels
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/loophost
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
        - uses: actions/checkout@v3
        - name: Set up Python 3.9
          uses: actions/setup-python@v3
          with:
            python-version: "3.9"
            
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: binary-downloads
          uses: actions/download-artifact@v3
        
        - name: show files
          run: ls -alR

        - name: move binaries
          run: |
            mv ubuntu-latest-binaries/* client/loophost/bins/ && \
            mv macOS-latest-binaries/* client/loophost/bins/ && \
            mv windows-latest-binaries/* client/loophost/bins/

        - name: build wheel
          run: |
            pushd client && poetry build --format=wheel && popd

        - name: Publish package distributions to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            packages-dir: "client/dist"