name: loophost-build
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
        - uses: actions/checkout@v3
        - name: Set up Python 3.9
          uses: actions/setup-python@v3
          with:
            python-version: "3.9"
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: Build go and wheels
          run: |
            inv build 
        - uses: actions/upload-artifact@v3
          with:
            name: ${{ matrix.os }}-wheels
            path: client/dist/
  publish:
    needs: build
    name: Publish wheels
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/loophost
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
        - name: linux-wheel-download
          uses: actions/download-artifact@v3
          with:
            name: ubuntu-latest-wheels

        - name: mac-wheel-downlod      
          uses: actions/download-artifact@v3
          with:
              name: macOS-latest-wheels

        - name: windows-wheel-download
          uses: actions/download-artifact@v3
          with:
              name: windows-latest-wheels

        - name: Publish package distributions to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            packages-dir: "./"